*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.p2{
    font-size: 21px;
}
.p3{
    font-size: 21px;
}
.p4{
    font-size: 21px;
}
.img1{
    width: 313px;
    height: auto;
    border-radius: 50%;
}
.github{
    color: red;
}
.git{
    color: black;
}
#btn{
    width: 80px;
    height: 30px;
    border: none;
    color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#inp{
    padding: 7px;
    border: 1px solid red;
    width: 240px;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}